/*
 * PiHole Management API
 *
 * A management webservice to be run locally on a PiHole instance
 *
 * API version: 1.0
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package openapi

import (
	"bytes"
	"context"
	"errors"
	"fmt"
	"log"
	"net/http"
	"os/exec"
	"strconv"
	"strings"
)

// DefaultAPIService is a service that implements the logic for the DefaultAPIServicer
// This service should implement the business logic for every endpoint for the DefaultAPI API.
// Include any external packages or services that will be required by this service.
type DefaultAPIService struct {
}

// NewDefaultAPIService creates a default api service
func NewDefaultAPIService() DefaultAPIServicer {
	return &DefaultAPIService{}
}

// StatusGet -
func (s *DefaultAPIService) StatusGet(ctx context.Context) (ImplResponse, error) {

	cmd := exec.Command("/usr/local/bin/pihole", "status")
	output, err := cmd.Output()
	if err != nil {
		var errb bytes.Buffer
		cmd.Stderr = &errb
		log.Print(cmd.Args)
		log.Print(string(output))
		log.Print(errb.String())
		return Response(500, err.Error()), err
	}

	result := strings.TrimSpace(string(output))

	status := Status{
		Listening: strings.Contains(result, "[✓] FTL is listening on port 53"),
		Blocking:  strings.Contains(result, "[✓] Pi-hole blocking is enabled"),
		Ipv4: UdpTcp{
			Tcp: strings.Contains(result, "[✓] TCP (IPv4)"),
			Udp: strings.Contains(result, "[✓] UDP (IPv4)"),
		},

		Ipv6: UdpTcp{
			Tcp: strings.Contains(result, "[✓] TCP (IPv6)"),
			Udp: strings.Contains(result, "[✓] UDP (IPv6)"),
		},
	}

	if status.Listening {
		if status.Blocking {
			return Response(200, status), nil
		} else {
			return Response(201, status), nil
		}
	} else {
		return Response(500, status), nil
	}
}

// GravityGet -
func (s *DefaultAPIService) GravityGet(ctx context.Context) (ImplResponse, error) {

	cmd := exec.Command("/usr/bin/sqlite3", "/etc/pihole/gravity.db", "SELECT id, address, comment FROM adlist;")
	output, err := cmd.Output()
	if err != nil {
		var errb bytes.Buffer
		cmd.Stderr = &errb
		log.Print(cmd.Args)
		log.Print(string(output))
		log.Print(errb.String())
		return Response(500, err.Error()), err
	}

	var gravity []GravityObj

	result := strings.TrimSpace(string(output))
	lines := strings.Split(result, "\n")
	for _, line := range lines {
		split := strings.Split(line, "|")
		id_val, err := strconv.Atoi(split[0])
		if err != nil {
			return Response(500, err.Error()), err
		}
		id := int32(id_val)
		address := split[1]
		comment := split[2]
		gravity = append(gravity, GravityObj{
			Id:      id,
			Address: address,
			Comment: comment,
		})
	}

	return Response(200, gravity), nil
}

// GravityIdDelete -
func (s *DefaultAPIService) GravityIdDelete(ctx context.Context, id int32) (ImplResponse, error) {
	// TODO - update GravityIdDelete with the required logic for this service method.
	// Add api_default_service.go to the .openapi-generator-ignore to avoid overwriting this service implementation when updating open api generation.

	cmd := exec.Command("/usr/bin/sqlite3", "/etc/pihole/gravity.db", fmt.Sprintf("DELETE FROM adlist WHERE id = %v", id))
	output, err := cmd.Output()
	if err != nil {
		var errb bytes.Buffer
		cmd.Stderr = &errb
		log.Print(cmd.Args)
		log.Print(string(output))
		log.Print(errb.String())
		return Response(500, err.Error()), err
	}

	return Response(200, "Domain deleted"), nil
}

// GravityPatch -
func (s *DefaultAPIService) GravityPatch(ctx context.Context) (ImplResponse, error) {
	cmd := exec.Command("/usr/local/bin/pihole", "-g")
	output, err := cmd.Output()
	if err != nil {
		var errb bytes.Buffer
		cmd.Stderr = &errb
		log.Print(cmd.Args)
		log.Print(string(output))
		log.Print(errb.String())
		return Response(500, err.Error()), err
	}

	return Response(200, "Gravity Updated"), nil
}

// GravityPost -
func (s *DefaultAPIService) GravityPost(ctx context.Context, gravityObj GravityObj) (ImplResponse, error) {
	// TODO - update GravityPost with the required logic for this service method.
	// Add api_default_service.go to the .openapi-generator-ignore to avoid overwriting this service implementation when updating open api generation.

	// TODO: Uncomment the next line to return response Response(200, GravityObj{}) or use other options such as http.Ok ...
	// return Response(200, GravityObj{}), nil

	// TODO: Uncomment the next line to return response Response(201, GravityObj{}) or use other options such as http.Ok ...
	// return Response(201, GravityObj{}), nil

	// TODO: Uncomment the next line to return response Response(202, GravityObj{}) or use other options such as http.Ok ...
	// return Response(202, GravityObj{}), nil

	return Response(http.StatusNotImplemented, nil), errors.New("GravityPost method not implemented")
}
